.title-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 22vw;
    background-color: #97ced0;
    margin: 4vh 38vw;
    margin-top: 40vh;
}

.body-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    margin-bottom: 40vh;
}

.info-tabs {
    background-image: url('happy-guy-celebrating-with-hands-up.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-header {
    display: flex;
    font-size: 2vw;
    margin: 0.5vw;
}

.body-tab-section {
    display: flex;
    flex-direction: column;
    border-width: 4vh solid black;
    height: 14vh;
    margin-bottom: auto;
    margin-top: auto;
}

.body-tabs {
    height: 5vh;
    width: 30vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.1vh;
    background-color: #5F9EA0;
    opacity: 0.8;
}

.arrowOrganizer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 60vh;
    width: 0vw;
    margin-bottom: 40vh;
    margin-left: auto;
    margin-right: auto;
}

/* Code for the navigator bar */
#leftArrow, #rightArrow {
    font-size: 2vw;
    background-color: rgba(128, 128, 128, 0.5); /* semi-transparent grey background */
    color: #333; /* dark grey arrow */
    border: none;
    padding: 1vw;
}

