.title-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 12vh;
    width: 22vw;
    background-color: #97ced0;
    margin: 4vh auto;
    margin-top: 40vh;
}

.info-tabs {
    background-image: url('happy-guy-celebrating-with-hands-up.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-header {
    display: flex;
    font-size: 2vw;
    margin: 0.5vw;
}

.body-tab-section {
    display: flex;
    flex-direction: column;
    border-width: 4vh solid black;
    height: 14vh;
    margin-bottom: auto;
    margin-top: auto;
}

.arrowOrganizer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 60vh;
    width: 0vw;
    margin-bottom: 40vh;
    margin-left: auto;
    margin-right: auto;
}

/* Code for the navigator bar */
#leftArrow, #rightArrow {
    font-size: 2vw;
    background-color: rgba(128, 128, 128, 0.5); /* semi-transparent grey background */
    color: #333; /* dark grey arrow */
    border: none;
    padding: 1vw;
}

.slide {
    font-size: 500%;
    background-color: #97ced0;
} 

.content {
    margin-bottom: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; /* Set position relative for absolute positioning */
  }
  
  
  .images {
    display: flex;
  }
  
  .slide {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 500%;
  }
  
  .images img {
    background-color: #97ced0;
    width: 80%; /* Make sure the image takes up the full width of its container */
    height: auto;
  }
  
  .slide button {
    background-color: #4CAF50;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 1.6vw;
    cursor: pointer;
    border: none;
    border-radius: 1vw;
    margin-top: 1vh;
  }
  
  .slide.left,
  .slide.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    height: 9vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    background-color: #97ced0;
  }
  
  .slide.left {
    left: 0;
  }
  
  .slide.right {
    right: 0;
  }
  
